@import "../index.scss";

.footerKasa{
    width: 100%;
    background-color: black;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    p{
        color: #fff;
    }
}