/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/

@import "../index.scss";

.App {
  max-width: 1240px;
  padding: 0 10px;
}

.blocList {
  background-color: #F7F7F7;
  border-radius: 25px;
  max-width: 1240px;
  min-width: 150px;
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 50px 0;
}

.decorationHome {
  position: relative;
  height: 223px;
  padding: 0 10px;
  border-radius: 15px;
  background-image: url("../../assets/img/IMGHOME.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  h5 {
    color: $blanc;
  }
}

.decorationHome::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  opacity: .3;
  border-radius: 15px;
}

.decorationHome::after {
  content: "Chez vous, partout et ailleurs";
  position: absolute;
  font-size: 32px;
  top: 42%;
  left: 34%;
  color: #fff;
}

@media screen and (max-width: 890px) {
  .App {
    padding: 0 10px;
  }

  .decorationHome::after {
    left: 24%;
  }
}

@media screen and (max-width: 740px) {

  .decorationHome{
    height: 111px;
  }

  .decorationHome::after {
    font-size: 24px;
    left: 4%;
    width: 75%;
    top: 28%;
  }
}

@media screen and (max-width: 350px) {

  .blocList{
    padding: 0;
    border-radius: 0;
    background-color: #fff;
  }
}